<html>
  <head>
    <title>Premium form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      div {
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 150px;
        text-align: right;
      }
    </style>
  </head>
<body>
  <form class="mt-5 p-5" action="{{url_for('predict_datapoint')}}" method="POST">
    <div class="row mb-3">
      <div class="col form-group">
          <label for="age">Age:</label>
          <input type="text" id="age" name="age" placeholder="Enter age value">
      </div>
    
      <div class="col form-group">
          <label for="bmi">BMI:</label>
          <input type="text" id="bmi" name="bmi" placeholder="Enter bmi value">
      </div>
    </div>
    <div class="row mb-3">
      <div class=" col form-group">  
        <label for="children">Children:</label>
        <input type="number" id="children" name="children" placeholder="Enter No. of children ">
      </div>
      
        
      <div class="col form-group">
        <label for="sex">Sex:</label>
        <select id="sex" name="sex">
          <option value="male">male</option>
          <option value="female">female</option>
        </select>
      </div>
    </div>
    <div class= "row mb-3">
      <div class="col form-group">
        <label for="smoker">Smoker:</label>
        <select id="smoker" name="smoker">
          <option value="yes">yes</option>
          <option value="no">no</option>
          
        </select>
      </div>
  
    <div class="col form-group">
      <label for="region">Region:</label>
      <select id="region" name="region">
        <option value="southwest">southwest</option>
        <option value="southeast">southeast</option>
        <option value="sorthwest">northwest</option>
        <option value="northeast">northeast</option>
        
      </select>
    </div>
    </div>      
      
    
    <div style="clear:both;"></div>
    <div class=" d-grid gap-2 col-6 mx-auto ">
      <input type="submit" value="Submit">
    </div>
      
</form>
</body>
</html>